body {
    background-image: url(Tausta.jpg);
    background-color: white;
    color: black;
    font-size: large;
    margin-left: 2cm;
    margin-top: 2cm;
}

.red {
    color: red;
}

h1 {
    font-size: 30px;
    border: 6px double rosybrown ;
    padding: 0.5cm;
}

h2 {
    border: 2px ridge brown;
    color: black;
    background: rosybrown;
}

p {
    border: 2px ridge brown;
    color: black;
    background: whitesmoke 
}

.div_look {
    border: 2px dotted rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    background: yellow;
    color: blue;
}

.ol_look {
    list-style: lower-alpha;
}

.ul_look {
    list-style: square;
    color: black;
    background: whitesmoke
}