body {
    /* background-image: url(Tausta.jpg); */
    background-color: black;
    color: white;
    font-size: large;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.red {
    color: red;
}

.padding {
    padding-right: 2em;
}

.padding:hover {
    background-color: red;
}

h1 {
    font-size: x-large;
    border: 6px double rosybrown ;
    padding: 0.5cm;
    background-color: chocolate;
    margin-bottom: 0;
}

h2 {
    margin-left: 0.5em;
    border: 2px ridge brown;
    padding: 0.25cm;
    color: black;
    background: rosybrown;
}

h3 {
    margin-left: 1em;
    padding: 0.1cm;
    border: 2px ridge brown;
    color: black;
    background: rosybrown;
}

p {
    font-size: large;
    color: green;
    border: 2px ridge brown;
    margin-left: 1em;
    padding: 2px;
    background: whitesmoke
}

.div_look {
    border: 2px dotted rgb(255, 0, 0);
    width: 100px;
    height: 100px;
  /*  background: yellow;
    color: blue; */
}

.ol_look {
    list-style: lower-alpha;
    margin-left: 4em;
    
}

.ul_look {
    list-style: square;
    margin-left: 4em;
/*  color: black;
    background: whitesmoke */
}

#header {
    color: lightblue;
/*    border-bottom: 2px solid; */
    margin-bottom: 0; 
    padding-top: 2px;
    text-align: center;
}

#nav {
    background-color: rgb(115, 159, 197);
    border: 2px solid white;
    padding: 6px;
}

#nav a {
    text-decoration: none;
}

#article {
    background-color: aquamarine;
    border: 2px solid white;
    padding: 6px;
}

#section {
    background-color: rgb(3, 29, 29);
    border: 2px solid white;
    padding: 12px 6px;
    float: left;
    width: 70%;
}

#content {
    overflow: auto;
 /*   padding-top: 6px;
    padding-bottom: 6px;*/
    background-color: beige;
}

#links {
    float: left;
    width: 28%;
    background-color: lightgreen;
    border: 2px solid white;
}

#links ul { 
    list-style-type: none;
    padding: 6px;
}

#footer {
    color: lightblue;
    border-top: 2px solid;
    padding-top: 6px;
}